.competence_all{
    padding-bottom: 200px;
    width: 100%;
    height: 1000px;
    background-color: #003B49;
    display: flex;
    align-items: center;
}

.competence_texto{
    padding-bottom: 80px;
    padding-left: 300px;
    width: 1000px;
    font-family: 'Inter', sans-serif;
}

.competence_texto h2{
    margin-bottom: 20px;
    width: 500px;
    color: aliceblue;
    font-size: 40px;
}

.competence_texto span{
    width: 400px;
    color: #FE7C45;
    font-size: 40px;
}

.competence_texto p{
    width: 600px;
    color: aliceblue;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
}

.competence_texto img{
    position: absolute;
    width: 40px;
    left: 290px;
    opacity: 50%;
}

.competence_links{
    margin-top: 40px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 350px;
    background-image: url("../img/caixa_texto.png");
    display: flex;
    align-items: baseline;
}


.efeito_direita{
    padding-top:100px ;
    height: 600px;
}

.lista_competences ul{
    list-style: none;
    padding-top: 50px;
}

.lista_competences a{
    color: aliceblue;
    font-size: 20px;
    
}

.lista_competences li{
   padding-top: 15px;
    
}

.lista_competences{
    margin-left: 80px;
}

.lista_competences a:hover{
    color: #003B49;
    
}