#world{
    width: 100%;
}

.card_pai{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    padding: 16rem 0 0 12.6rem;
}

.card_world:nth-child(1){
    background: #fff;
}

.card_world:nth-child(2){
    background: #003B49;
}


.world-text span{
    color: #FE7C45
}

.world-text h2{
    position: relative;
    padding-bottom: 3.0rem;
    font-family: 'Inter', sans-serif;
    font-size: 4.2rem;

}

.world-text p{
    padding-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

/* Cards */

.img_world{
    position: relative;
}

.bola{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -6px;
    bottom: -3px;
    background-color: #ffb69752;
}

.bola2{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -8px;
    bottom: -5px;
    background-color: #5e89e652;
}

.card_textos{
    font-family: 'Inter', sans-serif;
}

.card_textos h2{
    margin-bottom: 10px;
}

.card_textos p{
    font-size: 14px;
    margin-bottom: 20px;
}

.card_textos a{
    font-size: 1.2rem;
    color: #FE7C45;
}

.card_textos a:hover{
    color: #003B49;
}

.card_textos2{
    font-family: 'Inter', sans-serif;
}

.card_textos2 h2{
    margin-bottom: 10px;
    color: #fff;
    
}

.card_textos2 p{
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #fff;
}

.card_textos2 a{
    font-size: 1.2rem;
    color: #FE7C45;
}

.card_textos2 a:hover{
    color: white;
}

.texto_baixo{
    padding-bottom: 30px;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    color: #928b8b;
    margin-bottom: 40px;
}

.truck{
    width: 40px;
    height: 40px;
}

.box{
    width: 30px;
    height: 30px;
}

.img_container{
    width: 500px;
    height: 500px;
 }

.img_work{
   width: 300px;
   height: 300px;
}

.world_images{
    width:50%;
    padding-left: 10rem;
}

.cima{
    bottom: -100px;
    left: -100px;
    position: absolute;
}

.cima img{
    width: 500px;
}

.embaixo img{
    width: 700px;
}

.button_world{
    margin-right: 30px;
    padding: 18px 36px;
    background: #cfcfcf44;
    color: #003B49;
    font-family:  'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 4px;
}

.world-text a:hover{
    background: #FE7C45;
    color: #fff;
}

.world-text img{
    position: absolute;
    width: 40px;
    opacity: 50%;
}

.empresas{
    height: 100px;
    width: 50%;
    margin: auto;
    padding: 88px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empresas img{
    filter: grayscale(100%);
    transition: transform 0.7s;
    transform: scaleY(1);
}

.empresas img:hover{
    filter: grayscale(0%);
    transition: transform 0.7s;
    transform: scaleY(-1);
}
